# Web3Forms access key (get free at https://web3forms.com/)
WEB3FORMS_ACCESS_KEY=9c1eb9e7-4938-4ccb-b7ff-9edb05d5ab81
# hCaptcha site key (get free at https://www.hcaptcha.com/)
HCAPTCHA_SITE_KEY=810a89ec-8766-458e-9726-8ee2e0e0351c
